//- img.og_img(src='https://i.imgur.com/1PYWbzv.png' alt='og')

.all
  .title
    .star.a
    .star.b
    .star.c
    .star.d
    img.title_word(
      src="https://bepurelife.com.tw/wp-content/uploads/2021/05/game_logo.png",
      width="500",
      alt=""
    )
  .caption
    img.word(
      src="https://bepurelife.com.tw/wp-content/uploads/2021/05/find-03.png",
      width="150",
      alt=""
    )
    img.baby_loudspeaker(
      src="https://bepurelife.com.tw/wp-content/uploads/2021/05/baby_loudspeaker.png",
      width="180",
      alt="標題大聲公"
    )
  .subtitle 
    p 90%的人都不知道?!譽有「森林黃金」之稱的桑黃，最早可溯及2000多年前，已有藥用的《神農本草經》紀載，相繼出現於《藥性論》、《本草綱目》，桑黃具有近乎全面性的功效，但因為野外僅生長在桑屬植物上，處於稀有瀕危的狀況......猜猜看! 你認為哪個是桑黃呢?
  
  
  .scroll scroll
    .arrow ➠
  
  .opt.opt_01
    a(href="https://cdpn.io/natsu1827/debug/NWYbrqj")
      img(
        src="https://bepurelife.com.tw/wp-content/uploads/2021/05/opt-01.png",
        width="150",
        alt="牛樟芝"
      )
      img.magnifier(
        src="https://i.imgur.com/AwJfnVK.png",
        width="190",
        alt="放大鏡"
      )
  .opt.opt_02
    a(href="https://cdpn.io/natsu1827/debug/mdXgrLy") 
      img(
        src="https://bepurelife.com.tw/wp-content/uploads/2021/05/opt-02.png",
        width="150",
        alt="靈芝"
      )
      img.magnifier(
        src="https://bepurelife.com.tw/wp-content/uploads/2021/05/magnifier.png",
        width="190",
        alt="放大鏡"
      )
  .opt.opt_03
    a(href="https://cdpn.io/natsu1827/debug/rNdWeRv") 
      img(
        src="https://bepurelife.com.tw/wp-content/uploads/2021/05/opt-03.png",
        width="150",
        alt="桑黃"
      )
      img.magnifier(
        src="https://bepurelife.com.tw/wp-content/uploads/2021/05/magnifier.png",
        width="190",
        alt="放大鏡"
      )
  img.baby_tea(
    src="https://bepurelife.com.tw/wp-content/uploads/2021/05/baby_tea.png",
    width="250",
    alt="側邊喝茶"
  )
  
  br
  
  .share_text_zone
    .share_word 分享趣~ 看看有多少朋友能答對?!&nbsp;&nbsp;
    a(href='https://www.facebook.com/sharer.php?u=https://codepen.io/natsu1827/debug/BapbodX&quote=「確認過眼神，桑黃是我的貴人」趕快來參加萃桑黃抽獎送好禮!' target='_blank' rel='noopener')
      img.all.share_icon(src='https://i.imgur.com/CpQTDBp.png' width='60px' alt='分享遊戲')
      
  br
  hr
  .copyright Copyright 2021 eGbiotek 綠品生物科技股份有限公司、綠品生活 All Rights Reserved.
  
.portfolio_link
  a.back(href="https://codepen.io/natsu1827/debug/PobLRbJ" target="_blank") BACK to Portfolio➥